@media screen and (min-width: 64rem) {
    .specificationValue {
        margin-top: inherit !important;
    }
}

.specificationName {
    color: #212121;
    display: block;
    font-weight: 600;
    text-transform: capitalize;
    font-size: .875rem;
}

.specificationValue {
    color: #212121;
    display: block;
    font-weight: 400;
    text-decoration: underline;
    text-transform: capitalize;
    font-size: .875rem;
    margin-top: 0.5rem;
}